// imports
@import "../../../node_modules/font-awesome/css/font-awesome.min.css";

// example font mixins specified
@mixin sans_serif {
  font-family: 'Quattrocento Sans', sans-serif;
}

@mixin sans_serif_secondary {
  font-family: 'Montserrat', sans-serif;
}

@mixin default_serif {
  font-family: serif;
}

// utility mixins
@mixin upper {
  text-transform: uppercase;
  letter-spacing: .05em;
}
@mixin un_upper {
  text-transform: none;
  letter-spacing: normal;
}

// fontawesome
@mixin fontawesome {
  font-family: 'FontAwesome';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* CUSTOM THEME MIXINS */

/* modules */
@mixin cta_wrapper {
  @include sans_serif_secondary;
  @include upper;
  font-size: .775rem;
  line-height: 1.2;
}

@mixin date_font {
  @include cta_wrapper;
  font-size: .875rem;
  font-weight: 700;
}