// example font mixins specified
body {
  @include sans_serif;
  font-weight: 400;
  line-height: 1.4;
  color: $dark_gray;
}

h1, h2, h3, h4, h5, h6 {
  @include sans_serif_secondary;
  font-weight: 700;
}


/* special elements and typography */
header {
  @include sans_serif_secondary;
}

.panel-title {
  h1, h2, h3, h4, h5, h6 {
    @include upper;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }
  @media only screen and (max-width: $breakpoint_menu_only_mobile) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 1.2rem;
      margin-bottom: 1.8rem;
    }
  }
}


/* wysiwyg generic typographies */
.content {
  h1, h2 {
    font-size: 1.8rem;
    line-height: 1.2;
  }
  h3, h4 {
    @include upper;
    font-size: 1.4rem;
    line-height: 1.2;
  }
  h5, h6 {
    font-size: 1.2rem;
  }
}

p.date,
p.back-button {
  @include date_font;
}

.post-terms,
.share-wrapper {
  .label {
    @include cta_wrapper;
  }
}

.cta-wrapper-accordion {
  a {
    @include cta_wrapper;
  }
}

.post-terms,
.list-as-dropdown,
.post-pagination {
  font-size: .875rem;
  @include sans_serif_secondary;
}