/* GENERIC STYLES */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  .container {
    position: relative;
  }
  .container,
  .menu-wrapper {
    @include clearfix;
  }
}

/* logo-wrapper */
.logo-wrapper {
  display: inline-block;
  top: 0;
  left: 0;
}
/* logo */
h1.logo {
  margin: 0;
  padding: 0;
  display: inline-block;
  a {
    display: block;
    padding: 0;
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    border: none;
    outline: none;
  }
}

/* menu-wrapper */
.menu-wrapper {
  position: relative;
}

header a {
  display: inline-block;
  padding: 5px;
}

/* nav */
nav {
  > ul {
    > li {
      position: relative;
      > ul.sub-menu {
        display: none;
      }
    }
  }
}

/* buttons */
a.mobile-menu-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background: yellow;
}
span.arrow-down-mobile {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: $lightest_gray;
  text-align: center;
  cursor: pointer;
}

/* GENERIC NAV DESIGN AND STYLING */
header {
  background: white;
}
nav {
  > ul {
    > li {
      > a {
        
      }
      > ul.sub-menu {
        background: white;
        > li {
          > a {
            display: block;
            font-size: .875rem;
            padding: 8px 5px;
            &:link,
            &:visited {
              
            }
            &:focus,
            &:hover,
            &:active {
              background: mix(white, $lightest_gray, 50%);
            }
          }
          // active states
          &.current-menu-item {
            > a {
              background: mix(white, $lightest_gray, 50%);
              color: $dark_red;
            }
          }
        }
      }
      // active states
      &.current-menu-item,
      &.current-menu-ancestor {
        > a {
          color: $dark_red;
        }
      }
    }
  }
}

.utility-wrapper {
  font-size: .875rem;
}

/* MOBILE ONLY */
@media only screen and (max-width: $breakpoint_menu_only_mobile) {
  /* MOBILE MENU JAVASCRIPT */
  body.nav-open {
    height: 100%;
    overflow: hidden;
    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: scroll;
    }
  }
    
  /* sub menu toggle */
  nav {
    > ul {
      > li {
        &.open-sub-menu {
          > ul.sub-menu {
            display: block;
          }
        }
      }
    }
  }
  
  
  /* turn on/off */
  .menu-wrapper {
    display: none;
  }
  .arrow-down-mobile,
  .mobile-menu-button {
    display: block;
  }
    
}


/* DESKTOP ONLY */
@media only screen and (min-width: $breakpoint_menu_only_desktop) {

  /* ===== LAYOUT ===== */
  .logo-wrapper {
    width: 30%;
  }
  .menu-wrapper {
    width: 70%;
    float: right;
  }
  /* primary menu */
  .primary-wrapper {
    padding-top: 50px;
    display: inline-block;
    float: right;
  }
  
  nav {
    ul {
      @include clearfix;
      > li {
        display: inline-block;
        position: relative;
        float: left;
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
        /* show sub-menu on hover */
        > ul.sub-menu {
          position: absolute;
          top: 100%;
          left: 0;
          width: 200px;
          z-index: 400;
          > li {
            display: block;
            float: none;
            margin: 0;
          }
        }
        &:hover {
          > ul.sub-menu {
            display: block;
          }
        }
      }
    }
  }
  /* utility menu */
  .utility-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    ul {
      @include clearfix;
      > li {
        display: inline-block;
        float: left;
      }
    }
  }
  
  /* turn on/off */
  .arrow-down-mobile,
  .mobile-menu-button {
    display: none;
  }


}
